@import url(https://fonts.googleapis.com/css2?family=Yantramanav:wght@400;900&display=swap);
*{
	font-family: 'Poppins', sans-serif;
}

/* section id customiz>>>>>>>>>>>>>>>>>>>>>*/

#body-prop{
	background-color: #EBEBEB; /* adding backgrond colour*/
}



/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*customize properties>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.research-head{
	font-size:50px;
  font-weight:300;
  margin-top: 10px;
  margin-bottom: 10px;
}



/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
