@import url(https://fonts.googleapis.com/css2?family=Yantramanav:wght@400;900&display=swap);
*{
	font-family: 'Poppins', sans-serif;
}
/*research topic row*/
div.polaroid {/* controlling the box type affect in objects*/

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 25px;
	width: 40%;
	background-color: #F5F5F5;
}

div.polaroidup{/* controlling the about us box colur and size*/
	box-shadow: none;
	margin-bottom: 25px;
	width:100%;
	height: 100px;
	background-color:rgb(245, 245, 245);
	color: #000;
}
.align-right{
    text-align: right !important;
}
.bg-dark-black{/* related to about us text block*/
	padding: 0px 0px 0px 0px;
	border-left: rgba(81, 124, 81, 0) 10px solid;
	border-right: rgba(81, 124, 81, 0) 20px solid;       
}

.relative {
	position: relative;
}

.align-right{
	text-align: right !important;
}
header {/* header for about us text (incase we may need)*/
        display: block;
}
.container-fluid{
        padding-right: 15px;
        scroll-padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
}
/*>>>>>>>>>>>> video player <<<<<<<<<<<<<<<*/
      video {
        width: 90%;
		height:400px;
      }
      @media only screen and{
        .coll-s-1 {width: 8.33%;}
        .coll-s-2 {width: 16.66%;}
        .coll-s-3 {width: 25%;}
        .coll-s-4 {width: 33.33%;}
        .coll-s-5 {width: 41.66%;}
        .coll-s-6 {width: 50%;}
        .coll-s-7 {width: 58.33%;}
        .coll-s-8 {width: 66.66%;}
        .coll-s-9 {width: 75%;}
        .coll-s-10 {width: 83.33%;}
        .coll-s-11 {width: 91.66%;}
        .coll-s-12 {width: 100%;}
      }
      
      @media only screen{
        .coll-1 {width: 8.33%;}
        .coll-2 {width: 16.66%;}
        .coll-3 {width: 25%;}
        .coll-4 {width: 33.33%;}
        .coll-5 {width: 41.66%;}
        .coll-6 {width: 50%;}
        .coll-7 {width: 58.33%;}
        .coll-8 {width: 66.66%;}
        .coll-9 {width: 75%;}
        .coll-10 {width: 83.33%;}
        .coll-11 {width: 91.66%;}
        .coll-12 {width: 100%;}
      }
      
/* >>>>>>>>>>>>>>>>>>> end of video player >>>>>>>>>>>>>>>>>>>*/
