@import url(https://fonts.googleapis.com/css2?family=Yantramanav:wght@400;900&display=swap);
*{
	font-family: 'Poppins', sans-serif;
}
/*research topic row*/
div.polaroid {/* controlling the box type affect in objects*/

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 25px;
	width: 40%;
	background-color: #F5F5F5;
}

div.polaroidup{/* controlling the about us box colur and size*/
	box-shadow: none;
	margin-bottom: 25px;
	width: inherit;
	height: 100px;
	background-color: rgb(245, 245, 245);
	color:#000;
}
.align-right{
    text-align: right !important;
}
.bg-dark-black{/* related to about us text block*/
	padding: 0px 0px 0px 0px;
	border-left: rgba(81, 124, 81, 0) 10px solid;
	border-right: rgba(81, 124, 81, 0) 20px solid;       
}

.relative {
	position: relative;
}

.align-right{
	text-align: right !important;
}
header {/* header for about us text (incase we may need)*/
        display: block;
}
.container{
        padding-right: 15px;
        scroll-padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
}
/*contact topic ends*/
form-control{
	  width: 50%;
	  border: 5px;
  }
form{
	padding-top:10px;
	padding-bottom:10px;
	width:85%;
	margin:50px;
	outline-color:black;
	outline:5px;
	background:transparent;
	color:black;
	transition: all 4s ease-in-out;
	font-size:20px;
}
.info{
	width:100%;
	height:100%;
}
.icon1{
	width:50px;
	height:50px;
}
.contact{
	background-color: none;
}
.td-hight{
	height:50px;
	
}
.table-social{
	padding:10px;
}
table td{
	padding:0px;
}
.image{
	padding-top:20px;
	padding-bottom:20px;
	padding-left:20px;
	padding-right:20px;
	
}
.offices{
	padding-left:0px;
	padding-top:100px;
	font-size:18px;
}
input{
	background:transparent;
	background:none;
	color:#99abb8;
	font-size: 15px;
	height: 45px;
}
.form input{
	background:transparent;
	background:none;
	color:#99abb8;
	font-size: 15px;
}
.form textarea{
	background:transparent;
	background:none;
	color:#99abb8;
	font-size: 15px;
}
/*.front{
  background-color: #c98f23bd; /* Fallback color
  background-color: #1c272bc5; /* Black w/opacity/see-through 
  color: white;
  font-weight: bold;       
}*/ 
