  @import url(https://fonts.googleapis.com/css?family=Roboto:100,400,700,500,300,300italic);

@import url(https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i);
.logo{
	  width: 100px;
	  height:140px;
  }
  .navbar{
  margin-bottom:0;
  border-radius:0;
  background-color: #FFF;
 
  padding: 0.45% 0;
  font-size: 1.4em;
  border: 0;
  position: relative;
  min-height: 50px;
  margin-bottom: 0;
  border: 1px solid transparent;
  }
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

     /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
  
  .navbar-brand{
  float: left;
  min-height:105px;
  padding: 0 2px 20px;
  max-height: 15px;
  max-width: 20px;
  width: 20px;
  height: 20px;
  padding-left:15px;
  }
  
  .navbar-inverse .navbar-nav .active a, .navbar-inverse navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
  color:#000;
  background-color: #FFF ;
  font-family:Times, "Times New Roman", serif;
  
  }
  .navbar-inverse .navbar-nav li a{
  color: #000;
  font-family:Times, "Times New Roman", serif;
  }
  
  #icon{
  max-width:250px;
  margin: 1% auto;
  }
  
  footer{
  width: 100%;
  background-color:#000;
  color: #FFF;
  padding: 50px;
  padding-top:10px;
  padding-bottom:10px;
  font-size: 10px;
  }
  
  .fa{
  padding: 15px;
  font-size: 30px;
  
  
  }
  
  .fa:hover {
  color:#D5D5D5;
  text-decoration:none;
  
  
  }
  
  @media (max-width:600px){
  
	#icon{
	
		max-width:150px;  
  
	}
	
	h2{
		font-size: 1.7em;
	}
  }
  form-control{
	  width: 50%;
	  border: 5px;
  }
  input{
	  height: 45px;
  }
  button{
	  background:transparent;
	  color:#d2a679;
	  font-size: 20px;
	  font-weight: bold;
	  height: 50px;
	  margin-top:20px;
	  border-color:#d2a679;
	  font-family: 'Great Vibes';
	  font-size: 22px;
	  border-radius:25px;
  }
button:hover{
	background-color:#d2a679;
	color:white;
}
  form{
	padding-top:10px;
	padding-bottom:10px;
	width:50%;
	margin:50px;
	outline-color:black;
	outline:5px;
	background:transparent;
	color:black;
	transition: all 4s ease-in-out;
	font-size:20px;
}
.info{
	width:100%;
	height:100%;
}
.icon1{
	width:50px;
	height:50px;
}
.contact{
	background-color:;
}
td{
	height:50px;
	
}
table social, td{
	padding:10px;
}
table td{
	padding:0px;
}
.banner{
	margin-bottom:5px;
	background-color:white;
	font-family: fontAjust;
}
.description{
	font-family:Times, "Times New Roman", serif;
}
.image{
	padding-top:20px;
	padding-bottom:20px;
	padding-left:20px;
	padding-right:20px;
	
}
.offices{
	padding-left:100px;
	padding-top:50px;
	font-family:Times,'Times New Roman', serif;
	font-size:18px;
}
input{
	background:transparent;
	background:none;
	color:brown;
	font-family: 'Great Vibes';font-size: 22px;
}
.form input{
	background:transparent;
	background:none;
	color:brown;
	font-family: 'Great Vibes';font-size: 22px;
}
.form textarea{
	background:transparent;
	background:none;
	color:brown;
	font-family: 'Great Vibes';font-size: 22px;
}
footer2{
	text-align:left;
}
    .relative {
        position: relative;
    }

    .align-right{
        text-align: right !important;
    }
    

    .container{
        padding-right: 15px;
        scroll-padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
	.bg-dark-black{/* related to about us text block*/
        padding: 20px 0px 0px 0px;
        border-left: #ffffff 10px solid;
        border-right: #ffffff 20px solid;
    }
.research{
	text-align:left;
	height:80%;
}
.connect{
	text-align:left;
}
.pt1{
	font-family: 'Great Vibes';
	font-size: 22px;
}
