  
  #icon{
  max-width:250px;
  margin: 1% auto;
  }
  
  footer{
  width: 100%;
  background-color:#000;
  padding:50px;
  color: #FFF;
  font-size:12px;
  
  }
  
  .fa{
  padding: 15px;
  font-size: 30px;
  
  
  }
  
  .fa:hover {
  color:#D5D5D5;
  text-decoration:none;
  
  
  }
  
  @media (max-width:600px){
  
	#icon{
	
		max-width:150px;  
  
	}
	
	h2{
		font-size: 1.7em;
	}
  }
  form-control{
	  width: 50%;
	  border: 5px;
  }
  input{
	  height: 45px;
  }
  button{
	  background:transparent;
	  color: black;
	  font-size: 20px;
	  font-weight: bold;
	  height: 50px;
	  margin-top:20px;
	  border-color:black;
  }
  form{
	padding-top:10px;
	padding-bottom:10px;
	width:50%;
	margin:50px;
	outline-color:black;
	outline:5px;
	background:transparent;
	color:black;
	transition: all 4s ease-in-out;
	font-size:20px;
}
.info{
	width:100%;
	height:100%;
}
.icon1{
	width:50px;
	height:50px;
}
.contact{
	background-color:#000;
}
td{
	height:50px;
	
}
table social, td{
	padding:10px;
}
table td{
	padding:0px;
}
.banner{
	margin-bottom:5px;
	background-color:white;
	font-family: fontAjust;
}
.description{
	font-family:Times, "Times New Roman", serif;
}
.image{
	padding-top:20px;
	padding-bottom:20px;
	padding-left:20px;
	padding-right:20px;
}
.offices{
	padding-left:100px;
	padding-top:50px;
}
input{
	background:transparent;
}
.form input{
	background:none;
}
.form textarea{
	background:none;
}
    .relative {
        position: relative;
    }

    .align-right{
        text-align: right !important;
    }
    

    .container{
        padding-right: 15px;
        scroll-padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
