@import url(https://fonts.googleapis.com/css2?family=Yantramanav:wght@400;900&display=swap);
*{
	font-family:'Yantramanav', sans-serif;
}
.carousel{
		height:550px;
}
.carousel-inner{
		height:550px;
}
/*index page about us*/
.img_btn{
	border-radius:50%;
}
.about_video_btn{
    position: relative;
    font-size: 20px;
    color: #fff;
	padding-top:20px;
}
h1{
	transition:all 4s ease;
}
.about_topic{
	padding-bottom:20px;
	font-size:70px;
	font-weight:700;
	line-height:70px;
}
.about_video_text{
	font-size:23px; 
	padding-top:20px;
}
.about_video_text1{
	font-size:20px; 
	padding-top:30px;
}
/*end about us*/
/*index page contact page css*/
.index_contact_us{
	font-family:'Yantramanav', sans-serif;
	font-size:40px;
	color:#002e3b;
	height:150px;
	background-color:#b4c2cc;
	padding-top:45px;
	margin-bottom:50px;
}
.index_contact_btn{
	background-color:#b4c2cc;
	height:150px;
	margin-bottom:50px;
	padding-top:40px;
}
/*end contact*/