@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,700,500,300,300italic);

@import url(https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i);




.navbar{
    margin-bottom:0;
    
    background-color: #FFF;
    padding: 0.45% 0;
    font-size: 1.4em;
    border: 0;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    }

    .logo{
        width: 100px;
        height:100px;
    }
    
    .navbar-brand{
    float: left;
    min-height:35px;
    padding: 0 15px 2px;
    
    }
    
    .navbar-inverse .navbar-nav .active a, .navbar-inverse navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
    color:rgb(0, 0, 0);
    background-color: #F5F5F5 ;
    
    }
    .navbar-inverse .navbar-nav li a{
    color: #000;
    }

    footer{
    width: 100%;
    background-color:#000;
    padding:5%;
    color: #FFF;
  
    }
  
    .fa{
    padding: 15px;
    font-size: 30px;
    }
  
    .fa:hover {
    color:#D5D5D5;
    text-decoration:none;
    }

    #icon{
	
    max-width:150px;  
    }
    

    div.align {/* text align to justify*/
    text-align: justify;
    } 

    .content-area {/* creating whole padding to content area*/
    width: auto;
    margin: 0;
    padding: 20px 20px;
    }

    .middle-align {
    margin: 0 auto;
    padding: 0;
    }

    .sidebar-left {/* left side of the sidebar*/
    float: left !important;
    width: 25%;
    }
    .site-main {/* controlling second side*/
    width: 74%;
    }

    .flotRight {
    float: right !important;
    }

    header {/* header for about us text (incase we may need)*/
    display: block;
    }

    h1.entry-title { /* header for about us text (incase we may need)*/
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin-bottom: 30px;
    position: relative;
    }

    .clear {
    clear: both;
    }

    div.animate {/* creating animate class to slider and quate*/
    
    position: relative;
    animation-name: animateimg;
    animation-duration: 4s;
    }

    @keyframes animateimg {/* giving parameters from where to where it animates*/
    0%   {left:0px; top:100px;}
    100%  {left:0px; top:0px;}
    }

    @font-face{/* importig new font form font folder and giving a name*/
        font-family: "AnticDidone";
        src: url("/fonts/AnticDidone-Regular.otf");
    }

    .fontAjust{ /* appling easy class to call to newly added font*/
        font-family: AnticDidone;
    }

    .blog-item-body h2.lifter{ /*text area for strong expressing somthing*/
    
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    text-transform: none;
    color: #000000;
    font-size: 20px !important;
    padding: 0px;
    margin: 15px 0px 20px 0px;
    }


    .bg-dark-black{/* related to about us text block*/
        padding: 20px 0px 0px 0px;
        border-left: #ffffff 10px solid;
        border-right: #ffffff 20px solid;
    }

    .relative {
        position: relative;
    }

    .align-right{
        text-align: right !important;
    }
    

    .container{
        padding-right: 15px;
        scroll-padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }


    .row {/* controlling margins of devided bolocks*/
        margin-right: -15px;
        margin-left: -15px;
    }

    .color_blk{ /* appling for slider and qote that in the right side of devided page*/
        background-color: #FFFFFF ; 
        margin-left: -5px; 
        margin-right: -5px; 
        padding:5px !important; 
        border-bottom:#FFFFFF 5px solid;
    }

    /*div.polaroid {/* controlling the box type affect in objects*/

       /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 25px;
        width: 40%;
        background-color: #F5F5F5;
    }*/

    /*div.polaroidup{/* controlling the about us box colur and size*/
        /*box-shadow: none;
        margin-bottom: 25px;
        width: inherit;
        height: 100px;
        background-color: #F5F5F5;
    }*/

    .entry-content{
        padding-right: 5%;/*contolling the size of the text area*/
    }
    
    /* css libraries that imported from w3school*/
    .w3-spin{animation:w3-spin 2s infinite linear}@keyframes w3-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
    .w3-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
    .w3-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
    .w3-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
    .w3-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
    .w3-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
    .w3-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
    .w3-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
    .w3-animate-input{transition:width 0.4s ease-in-out}.w3-animate-input:focus{width:100%!important}
    .w3-opacity,.w3-hover-opacity:hover{opacity:0.60}.w3-opacity-off,.w3-hover-opacity-off:hover{opacity:1}
    .w3-opacity-max{opacity:0.25}.w3-opacity-min{opacity:0.75}
    .w3-greyscale-max,.w3-grayscale-max,.w3-hover-greyscale:hover,.w3-hover-grayscale:hover{filter:grayscale(100%)}
    .w3-greyscale,.w3-grayscale{filter:grayscale(75%)}.w3-greyscale-min,.w3-grayscale-min{filter:grayscale(50%)}
    .w3-xxlarge{font-size:36px!important}.w3-xxxlarge{font-size:48px!important}.w3-jumbo{font-size:64px!important}
