@import url(https://fonts.googleapis.com/css2?family=Yantramanav:wght@400;900&display=swap);
*{
	font-family: 'Poppins', sans-serif;
}
/* section settings>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
#body-prop{
	background-color: #EBEBEB;
}

#header{
	position: absolute;
	z-index: 10;
	width: 100%;

}

#main{
	position: relative;
	background: none;
	min-height: none;
	background-size: none;
	background-position: center;
	border-radius: 0px;
}

.down{
	padding: none;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*card properties ajust>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.no-gutters{/* remove unnessary margins and paddings*/
	margin: 0;
	padding: 0;
}

.research-head{
	font-size:40px;
	font-weight:300;
}



.row .background{/* remove background overflow*/
	overflow: hidden;
}

.properties{
	margin: 20px;
	
}
.animate__bounceIn{
	--animate-delay: 7s;
	--animate-duration: 2s;
}
.card-text .text-muted a{
	font-size:16px;
	color: #FF7B7B;
}
.btn-outline-light{
	border: none;
}
.btn-outline-light:hover{
	background-color:#31ADFF;
}
button a{
	color: none;
	font-size: none;
}
button a:hover{
	color:white;
}

#main .top-dark{/* make the owl carosul image dark with a mask and make responsive*/
	background-color: none;
	z-index: 10;
}

.card-border{
	border-radius: 15px;
	border: none;
}

.text-overflow{/* text overflow hidden*/
    display: block;
    display: -webkit-box;
	text-align: justify;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-heding{/*mobile view card title customization*/
	padding: none;
}

.muted-text-mobi{/*mobile-content main card text properties ajusting*/
	padding: none;
}


.caption-logo{/* logo position of the card */
	bottom: none;
	left: none;
	position: absolute;
	right: none;
}

.slider-logo{/* logo size customizing in the cards*/
	height: none;
	width: none;
	margin: none;
}
.button-position{/* button position in the cards and responsive*/
	bottom: none;
	right: none;
	position: absolute;
	left: none;
}
.date-position{
	bottom: none;	/* date poition in the mobile view*/
	right: none;
	position: absolute;
	left: none;
	
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* owl-carosul settings*/
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 0 !important;
}


/* make resposive>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media all and (max-width: 645px) {
	.slider-logo{width: 40px !important;height: 40px !important;}
	.caption-logo{bottom: 0% !important;right: 5% !important;}
	.button-position{left: 30px;bottom: 60px; }
	.card-border{border: solid #f1f1f1;}
	.muted-text-mobi{padding: 20px 20px 10px 30px;}
	.text-heding{padding: 30px 20px 10px;}
	 button a{color: #31ADFF;font-size: 12px;}
	.date-position{bottom: 10px;left: 31%;}
}

@media all and (min-width: 646px) {
	#main{background: url(../img/14.jpg);background-size: cover;min-height: 40vh;}
	.down{padding: 20px 0 0 0;}	
	.slider-logo{width: 40px !important;height: 40px !important;}
	.caption-logo{bottom: 0% !important;left: 5% !important;}
	.button-position{right: 5%; bottom: 10px;}
	#main .top-dark{background-color: #00000030;}
	.muted-text-mobi{padding: 20px 20px 20px 30px;}
	.btn-outline-light{border:1px solid #000;}
	 button a{color:#000;}
	
}

@media all and (max-width: 767px) {
	
}

@media all and (min-width: 768px) {
	
}

@media all and (max-width: 991px) {

}

@media all and (min-width: 992px) {

}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/