@import url(https://fonts.googleapis.com/css2?family=Yantramanav:wght@400;900&display=swap);
*{
	font-family: 'Poppins', sans-serif;
}
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap);

/* main sections ids*/
#body-prop{
	background-color: #EBEBEB;
}

/* customization header area*>>>>>>>>>>>>>>>>>>>>>>>>>>.*/


.research-head{
	font-size:50px;
	font-weight:300;
}