@import url(https://fonts.googleapis.com/css2?family=Yantramanav:wght@400;900&display=swap);
*{
	font-family: 'Poppins', sans-serif;
}
/* section settings>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
#body-prop{
	background-color: #EBEBEB;
}

#header{
	position: absolute;
	z-index: 10;
	width: 100%;

}

#main{
	position: relative;
	background: none;
	min-height: none;
	background-size: none;
	background-position: center;
	border-radius: 0px;
}

.down{
	padding: none;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*card properties ajust>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.no-gutters{/* remove unnessary margins and paddings*/
	margin: 0;
	padding: 0;
}

.research-head{
	font-size:50px;
	font-weight:300;
}



.row .background{/* remove background overflow*/
	overflow: hidden;
}

.properties{
	margin: 20px;
	margin-right:none;
	
}
/*.animate__bounceIn{*/
.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-15px);}
  60% {transform: translateY(-10px);}
}

.bounce {
  animation-name: bounce;
}

.card-text .text-muted a{
	font-size:16px;
	color: #FF4D4D;
}
.card-text .text-muted a:hover{
	color: #31ADFF;
}
.btn-outline-light{
	border: none;
}
.btn-outline-light:hover{
	background-color:#31ADFF;
}
button a{
	color: none;
	font-size: none;
}
button a:hover{
	color:white;
}

#main .top-dark{/* make the owl carosul image dark with a mask and make responsive*/
	background-color: none;
	z-index: 10;
}

.card-border{
	border-radius: 15px;
	border: none;
}

.card-padding{/*padding of the card body removed*/
	padding-left: none;
	padding-right: none;
}

.text-overflow{/* text overflow hidden*/
    display: block;
    display: -webkit-box;
	text-align: justify;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-overflow-card{/* text overflow hidden In owl carousel body*/
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 14;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-heding{/*mobile view card title customization*/
	padding: none;
}

.muted-text-mobi{/*mobile-content main card text properties ajusting*/
	padding: none;
}

.card-bold{
	font-weight: 400;
	font-size: 24px;
}

.card-top{
	padding-top: 0;
}

.card-body{
	padding-top: 0;
}

.caption-logo{/* logo position of the card */
	bottom: none;
	left: none;
	position: absolute;
	right: none;
}
.caption-logo img{
	width: 30px !important;
	height: auto !important;
}

.slider-logo{/* logo size customizing in the cards*/
	height: none;
	width: none;
	margin: none;
}
.button-position{/* button position in the cards and responsive*/
	bottom: none;
	right: none;
	position: absolute;
	left: none;
}
.date-position{
	bottom: none;	/* date poition in the mobile view*/
	right: none;
	position: absolute;
	left: none;
	
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* owl-carosul settings*/
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 0 !important;
}

.owl-dots .owl-dot button:focus {
	outline: none;
}
.owl-dots .owl-dot.active button {
	color: #000000;
}


/* make resposive>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media all and (max-width:620px){
	.text-overflow-card{-webkit-line-clamp: 4;}
	.caption-logo{bottom: 0% !important;right: 5% !important;}
	.button-position{left: 30px;bottom: 60px; }
	.date-position{bottom: 10px;left: 31%;}
	.slider-logo{width: 40px !important;height: 40px !important;}
	.card-border{border: solid #f1f1f1;}
	.muted-text-mobi{padding: 20px 20px 10px 30px;}
	.text-heding{padding: 30px 20px 10px;}
	 button a{color: #31ADFF;font-size: 12px;}
	.card-text .text-muted a{font-size:16px;color: #FF4D4D;}
	.card-text .text-muted a:hover{color: #31ADFF;}
}

@media all and (min-width: 621px) {
	.slider-logo{width: 40px !important;height: 40px !important;}
	.caption-logo{bottom: 0% !important;left: 5% !important;}
	.button-position{right: 5%; bottom: 10px;}
	.card-border{border: solid #f1f1f1;}
	.muted-text-mobi{padding: 20px 20px 10px 30px;}
	.text-heding{padding: 30px 20px 10px;}
	 button a{color: #31ADFF;font-size: 12px;}
	.card-text .text-muted a{font-size:16px;color: #FF4D4D;}
	.card-text .text-muted a:hover{color: #31ADFF;}
	.properties{margin-right: 0px;}
	
	
}

@media all and (min-width: 646px) {
	#main{background: url(../img/14.jpg);background-size: cover;min-height: 40vh;}
	.down{padding: 20px 0 0 0;}	
	.slider-logo{width: 40px !important;height: 40px !important;}
	.caption-logo{bottom: 0% !important;left: 5% !important;}
	.button-position{right: 5%; bottom: 10px;}
	#main .top-dark{background-color: #00000030;}
	.muted-text-mobi{padding: 20px 20px 20px 30px;}
	.btn-outline-light{border:1px solid #000;}
	 button a{color:#000;}
	.card-text .text-muted a{font-size:19px;color: #FF4D4D;font-weight: 200;}
	.card-text .text-muted a:hover{color: #31ADFF;}
	.card-padding{padding-right: 0;padding-left: 0;}
	.text-overflow-card{-webkit-line-clamp: 14;}
	
}

@media all and (max-width: 767px) {
	
}

@media all and (min-width: 768px) {
	
}

@media all and (max-width: 991px) {

}

@media all and (min-width: 992px) {

}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/