body{
	font-family: 'Poppins', sans-serif;
}
.research-head{
	font-size:50px;
	font-weight:300;
	margin-top:20px;
	margin-bottom:50px;
}
.site-links{
	border-left:1px solid #707070;
}
.research-topic{
	font-size:26px;
}
.author{
	font-size:13px;
}
.site-info{
	padding-left:50px;
}
.date{
	font-size:10px;
}
.research-info{
	font-size:14px;
	padding-right:30px;
}
.other-links button{
	font-size:15px;
	text-align:left;
}
