@import url(https://fonts.googleapis.com/css2?family=Yantramanav:wght@400;900&display=swap);
*{
	font-family: 'Poppins', sans-serif;
}

#body-prop{
	background-color: #EBEBEB;
}

.no-gutters{
	margin: 0;
	padding: 0;
}

.research-head{
	font-size:40px;
	font-weight:300;
}


#header{
	position: absolute;
	z-index: 10;
	width: 100%;

}

#main{
	position: relative;
	background: none;
	min-height: 40vh;
	background-size: none;
	background-position: center;
	padding: 20px 20px 20px 0; 
	
}
.row .background{
	overflow: hidden;
}

.properties{
	margin: 20px;
	
}


/* make resposive*/

@media all and (max-width: 645px) {

}

@media all and (min-width: 646px) {
	#main{background: url(../img/14.jpg);background-size: cover;}
}

@media all and (max-width: 767px) {
	
}

@media all and (min-width: 768px) {
	
}

@media all and (max-width: 991px) {

}

@media all and (min-width: 992px) {

}