body{
	font-family: 'Poppins', sans-serif;
	background-color:#EBEBEB;
}
.research-head{
	font-size:50px;
	font-weight:300;
	margin-top:20px;
	margin-bottom:50px;
}
.site-links{
	border-left:1px solid #707070;
}
.research-topic{
	font-size:26px;
}
.author{
	font-size:13px;
}
.site-info{
	padding-left:50px;
}
.date{
	font-size:10px;
}
.research-info{
	font-size:14px;
	padding-right:none;
	margin-left:20px;
	text-align: none;
}
.link1{
	background-color:#fff;
	border-radius:0.5rem;
	margin:auto;
	padding:10px;
	font-size:15px;
	color:#000;
}
.date{
	font-size:10px;
	margin:auto;
}
.other-links{
	margin-right:10px;
}
.fa-file-pdf-o{
	color:#707070;
}
.btn-light{
	font-size:15spx;
	box-shadow: 5px 5px 10px #D0D0D0;
	border-radius:10px;
}
.fa{
	font-size:15px;
}
.br-rad{/* card border radius control*/
	border-radius: 15px;
}

.card-title{
	font-size: 15px;
	font-weight: 200;
	color: #212529;
}

.card-body{
	padding-bottom: 0;
}

.small, small{
	font-weight: 200;
}
.card-properties{/* card hight and width control*/
	width: none;
	height: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 15px;
}

#card_head {margin-right:60px; text-align: left; width: 75%;}
#card_date {display: block; position:absolute; top: 30%; right:14px; height:auto; width:auto;}

/* responsive mobile view >>>>>>>>>*/
@media all and (min-width: 621px) {
    .deskContent {display:block;}
	.phoneContent {display:none;}
	.slider-logo{height: auto;width: 80px;margin: 10px;}
	.spacer{padding: 50px 0px;}
	.middle{top: 60%;}
	.card-body1{padding-top: 150px;}
	.card-prop{width: 18rem;height: 420px;}
	.card-hight{height: 250px;}
	.research-info{padding-right:80px;text-align: left;}
}


@media all and (max-width: 620px) {
    .deskContent {display:none;}
	.phoneContent {display:block;}
	.slider-logo{height: auto;width: 30px;margin: 5px;}
	.spacer{padding: 20px 0px;}
	.card{border: none;}
	.middle{top: 50%;}
	.card-body1{padding-top: 10px;}
	.card-prop{width: 100%;height: 220px;padding-right: 5%;padding-left: 5%;}
	.card-prop-def{width: 100%;height: 220px;}
	.card-hight{height: 100px;}
	.card-bold{font-weight: bold;}
	.research-info{padding-right: 25px;text-align: justify;}
	
	.research-head{font-size:44px;margin-left:10px;margin-bottom:20px;}
	.research-topic{font-size:19px;}
	.site-info{background-color:#fff;border-radius:0.5rem;margin-right:15px;margin-left:30px;padding:10px;font-size:15px;color:#000;}
	.research-no{text-align:right;font-size:10px;}
	.research-info{font-size:12px;}
	.date{font-size:10px;}
	.site-links{margin-left:15px;margin-right:5px;border-left:none;padding-right:0px;}
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/