@import url(https://fonts.googleapis.com/css2?family=Yantramanav:wght@400;900&display=swap);
*{
	font-family: 'Poppins', sans-serif;
}
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap);



/* main sections ids*/
#body-prop{
	background-color: #EBEBEB;
}

#header{
	position: absolute;
	z-index: 10;
	width: 100%;

}

.research-head{
	font-size:30px;
	font-weight:none;
	margin-top: 20px;
}

.year{
	font-size: 34px;
	font-weight: 300;
}

/* customization of one card*>>>>>>>>>>>>>>>>>>>>>>>>>>.*/
.br-rad{/* card border radius control*/
	border-radius: 15px;
}

.card-properties{/* card hight and width control*/
	width: none;
	height: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 15px;
}

.card-text{			/* card text customization*/
	text-align: justify;
	font-size: 13px;
	font-weight: 200;
}

.cart-title{		/*card title customization*/
	font-weight: 400;
	font-size: 26px;
	text-align: left;
}

.margin-main{/* card area main section customization*/
	margin: none;
}

.caption-logo{/* logo position of the card */
	bottom: none;
	left: none;
	position: absolute;
	right: none;
}
.caption-logo img{/* contrl logo properties*/
	width: 30px !important;
	height: auto !important;
}

.card-logo{/* logo size customizing in the cards*/
	height: none;
	width: none;
	margin: none;
}

.button-position{/* button position in the cards and responsive*/
	bottom: none;
	right: none;
	position: absolute;
	left: none;
}

.btn-outline-light{/* control border of the card button*/
	border: none;
}
.btn-outline-light:hover{/* card button hover*/
	background-color:#31ADFF;
}

button a{/*card button text*/
	color: none;
	font-size: none;
}
button a:hover{/* card text hover*/
	color:white;
}

.text-overflow-card{/* text overflow hidden*/
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 13;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/




/* responsive the #of cards in a row*/
@media all and (max-width: 575px) {
    .deskConten {display:none;}
	.phoneConten {display:block;}
}


@media (min-width: 360px) {
	.card-columns {column-count: 1;}
	.margin-main{margin: none;}
	.button-position{right: 5%; bottom: 10px;}
	.research-head{font-size:40px;font-weight:300;}
	.btn-outline-light{border:1px solid #000;}
	 button a{color:#000;}
	.card-logo{width: 40px !important;height: auto !important;}
	.caption-logo{bottom: 5px !important;left: 5% !important;}
}

@media (min-width: 576px) {
	.card-columns {column-count: 2;}
	.margin-main{margin: none;}
	.button-position{right: 5%; bottom: 10px;}
	.research-head{font-size:40px;font-weight:300;}
	.btn-outline-light{border:1px solid #000;}
	 button a{color:#000;}
	.card-logo{width: 40px !important;height: auto !important;}
	.caption-logo{bottom: 5px !important;left: 5% !important;}
	.deskConten {display:block;}
	.phoneConten {display:none;}
}

@media (min-width: 768px) {
	.card-columns {column-count: 2;}
	.margin-main{margin: 40px;}
	.button-position{right: 5%; bottom: 10px;}
	.research-head{font-size:40px;font-weight:300;}
	.btn-outline-light{border:1px solid #000;}
	 button a{color:#000;}
	.card-logo{width: 40px !important;height: auto !important;}
	.caption-logo{bottom: 5px !important;left: 5% !important;}
}

@media (min-width: 992px) {
	.card-columns {column-count: 3;}
	.margin-main{margin: 100px;}
	.button-position{right: 5%; bottom: 10px;}
	.card-properties{width: auto;height: 420px;}
	.card-logo{width: 40px !important;height: auto !important;}
	.caption-logo{bottom: 5px !important;left: 5% !important;}
	.btn-outline-light{border:1px solid #000;}
	 button a{color:#000;}
	 .research-head{font-size:50px;font-weight:300;}
}

@media (min-width: 1200px) {
	.card-columns {column-count: 4;}
	.margin-main{margin: 0px 100px 0px 100px;}
	.card-logo{width: 40px !important;height: auto !important;}
	.caption-logo{bottom: 5px !important;left: 5% !important;}
	.button-position{right: 5%; bottom: 10px;}
	.card-properties{width: auto;height: 420px;}
	.btn-outline-light{border:1px solid #000;}
	 button a{color:#000;}
	.research-head{font-size:50px;font-weight:300;}
}