/*import url(https://fonts.googleapis.com/css2?family=Yantramanav:wght@400;900&display=swap);*/
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap);

/* controlling margins of devided bolocks*/
*{
	font-family: 'Poppins', sans-serif;
}
body{
	font-family: 'Poppins', sans-serif;
	overflow-x:hidden;
}
.row{
        margin-right: -15px;
        margin-left: -15px;
}

.row1{
	background-color: #ebebeb;
	margin-right: -15px;
	margin-left: -15px;
}

footer{
	width: 100%;
	background-color:#002e3b;
	color:#99abb8;
	padding: 50px;
	padding-top:10px;
	padding-bottom:10px;
	font-size: 12px;
	font-family: 'Poppins', sans-serif;

}
.fa{
        padding: 15px;
        font-size: 30px;
}

.fa:hover {
	color:#D5D5D5;
	text-decoration:none;
}
 .research{
        text-align:left;
        height:80%;
}
.connect{
	text-align:left;
}
.pt1{
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	padding-right:160px;
	padding-top:50px;
	padding-left:0px;
}
.pt2{
	border-right: 1px solid #99abb8;
}
@media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
    }
      .row.content{
	  height:auto;
	} 
}
.dropdown:hover .dropdown-menu {
	display: block;
}
h4{
	font-weight:700;
}
hr{
    border-top: 1px solid #99abb8;
}

.front{
	background-color: #dfe1e21a; /* Fallback color */
	background-color: #a52d2a14; /* Black w/opacity/see-through */
	
	color: white;
	font-weight: normal;
	text-shadow: 1px 7px 11px #00000e9c;
}
