@import url(https://fonts.googleapis.com/css2?family=Yantramanav:wght@400;900&display=swap);
/* controlling margins of devided bolocks*/
*{
	font-family:'Yantramanav', sans-serif;
}
body{
	font-family:'Yantramanav', sans-serif;
	overflow-x:hidden;
}
.row {
        margin-right: -15px;
        margin-left: -15px;
}
footer{
	width: 100%;
	background-color:#002e3b;
	color:#99abb8;
	padding: 50px;
	padding-top:10px;
	padding-bottom:10px;
	font-size: 12px;
	font-family:'Sawarabi Gothic', sans-serif;

}
.fa{
        padding: 15px;
        font-size: 30px;
}

.fa:hover {
	color:#D5D5D5;
	text-decoration:none;
}
 .research{
        text-align:left;
        height:80%;
}
.connect{
	text-align:left;
}
.pt1{
	font-family:'Yantramanav', sans-serif;
	font-size: 22px;
	padding-right:0px;
	padding-top:50px;
}
@media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
    }
      .row.content{
	  height:auto;
	} 
}
.card-body{
	height:300px;
}
.dropdown:hover .dropdown-menu {
	display: block;
}

